* {
  margin: 0;
  padding: 0;
}

:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav,
.address {
  display: inline-flex;
  align-items: center;
}

.nav > .list {
  display: flex;
  gap: 40px;
}

.address > .list {
  display: flex;
  gap: 40px;
}
/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  padding: 24px 0;
}
.logo {
  color: var(--iris);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.accent {
  color: var(--navy-blue);
}

/* nav */
.list-items > .item {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.item:hover {
  color: var(--ocean);
}
.item:focus {
  color: var(--ocean);
}
/* address */
.contact-item > .contact {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.contact:hover {
  color: var(--ocean);
}
.contact:focus {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

/* main section */

.list {
  list-style: none;
}

/* button */
.button {
  font-family: inherit;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* section 1 - index */

.section-one {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

/* .section-one-container {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background-color: var(--navy-blue);
  padding: 188px 472px 292px;
} */

.header-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.btn {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  /* padding: 16px 32px; */
  /* align-items: flex-start; */
  /* gap: 10px; */
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.btn:hover,
:focus {
  background-color: var(--ocean);
}

/* section 2 index */

.section-two {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list > .features-info {
  width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  margin-bottom: 8px;
  width: calc((100% - 3 * 24px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* section 3 index */

.section-three {
  padding-bottom: 120px;
}

.service-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.service-list {
  display: flex;
  gap: 24px;
}

.service-list > .features-info {
  width: calc((100% - 3 * 16px) / 3);
}

/* section 4 index */
.section-four {
  background-color: var(--cloud);
}

.service-item {
  background-color: var(--white);
}

/* footer */
.footer {
  background-color: var(--navy-blue);
}
.footer-accent {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
